threads/build/kernel.bin
threads/build/kernel.o
threads/build/loader.bin
threads/build/Makefile
threads/build/os.dsk
threads/build/devices/disk.d
threads/build/devices/disk.o
threads/build/devices/input.d
threads/build/devices/input.o
threads/build/devices/intq.d
threads/build/devices/intq.o
threads/build/devices/kbd.d
threads/build/devices/kbd.o
threads/build/devices/serial.d
threads/build/devices/serial.o
threads/build/devices/timer.d
threads/build/devices/timer.o
threads/build/devices/vga.d
threads/build/devices/vga.o
threads/build/lib/arithmetic.d
threads/build/lib/arithmetic.o
threads/build/lib/debug.d
threads/build/lib/debug.o
threads/build/lib/random.d
threads/build/lib/random.o
threads/build/lib/stdio.d
threads/build/lib/stdio.o
threads/build/lib/stdlib.d
threads/build/lib/stdlib.o
threads/build/lib/string.d
threads/build/lib/string.o
threads/build/lib/kernel/bitmap.d
threads/build/lib/kernel/bitmap.o
threads/build/lib/kernel/console.d
threads/build/lib/kernel/console.o
threads/build/lib/kernel/debug.d
threads/build/lib/kernel/debug.o
threads/build/lib/kernel/hash.d
threads/build/lib/kernel/hash.o
threads/build/lib/kernel/list.d
threads/build/lib/kernel/list.o
threads/build/tests/threads/alarm-negative.d
threads/build/tests/threads/alarm-negative.o
threads/build/tests/threads/alarm-priority.d
threads/build/tests/threads/alarm-priority.o
threads/build/tests/threads/alarm-simultaneous.d
threads/build/tests/threads/alarm-simultaneous.o
threads/build/tests/threads/alarm-wait.d
threads/build/tests/threads/alarm-wait.o
threads/build/tests/threads/alarm-zero.d
threads/build/tests/threads/alarm-zero.o
threads/build/tests/threads/priority-change.d
threads/build/tests/threads/priority-change.o
threads/build/tests/threads/priority-condvar.d
threads/build/tests/threads/priority-condvar.o
threads/build/tests/threads/priority-donate-chain.d
threads/build/tests/threads/priority-donate-chain.o
threads/build/tests/threads/priority-donate-lower.d
threads/build/tests/threads/priority-donate-lower.o
threads/build/tests/threads/priority-donate-multiple.d
threads/build/tests/threads/priority-donate-multiple.o
threads/build/tests/threads/priority-donate-multiple2.d
threads/build/tests/threads/priority-donate-multiple2.o
threads/build/tests/threads/priority-donate-nest.d
threads/build/tests/threads/priority-donate-nest.o
threads/build/tests/threads/priority-donate-one.d
threads/build/tests/threads/priority-donate-one.o
threads/build/tests/threads/priority-donate-sema.d
threads/build/tests/threads/priority-donate-sema.o
threads/build/tests/threads/priority-fifo.d
threads/build/tests/threads/priority-fifo.o
threads/build/tests/threads/priority-preempt.d
threads/build/tests/threads/priority-preempt.o
threads/build/tests/threads/priority-sema.d
threads/build/tests/threads/priority-sema.o
threads/build/tests/threads/tests.d
threads/build/tests/threads/tests.o
threads/build/tests/threads/mlfqs/mlfqs-block.d
threads/build/tests/threads/mlfqs/mlfqs-block.o
threads/build/tests/threads/mlfqs/mlfqs-fair.d
threads/build/tests/threads/mlfqs/mlfqs-fair.o
threads/build/tests/threads/mlfqs/mlfqs-load-1.d
threads/build/tests/threads/mlfqs/mlfqs-load-1.o
threads/build/tests/threads/mlfqs/mlfqs-load-60.d
threads/build/tests/threads/mlfqs/mlfqs-load-60.o
threads/build/tests/threads/mlfqs/mlfqs-load-avg.d
threads/build/tests/threads/mlfqs/mlfqs-load-avg.o
threads/build/tests/threads/mlfqs/mlfqs-recent-1.d
threads/build/tests/threads/mlfqs/mlfqs-recent-1.o
threads/build/threads/init.d
threads/build/threads/init.o
threads/build/threads/interrupt.d
threads/build/threads/interrupt.o
threads/build/threads/intr-stubs.d
threads/build/threads/intr-stubs.o
threads/build/threads/kernel.lds.s
threads/build/threads/loader.o
threads/build/threads/malloc.d
threads/build/threads/malloc.o
threads/build/threads/mmu.d
threads/build/threads/mmu.o
threads/build/threads/palloc.d
threads/build/threads/palloc.o
threads/build/threads/start.d
threads/build/threads/start.o
threads/build/threads/synch.d
threads/build/threads/synch.o
threads/build/threads/thread.d
threads/build/threads/thread.o
